@using KUSYS.Core.Helpers;
@using KUSYS.Core.Models.Response;
@using KUSYS.Web.Infrastructure;
@model List<CourseStudentsResponse>
@{
    ViewData["Title"] = "Courses - KUSYS";
}

@if (Context.GetAuthUser().IsAuthorize(KeyConsts.Admin))
{
    <div class="container">
        <div class="d-flex justify-content-between">
            <h3 class="text-muted my-3">Course List</h3>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CourseName</th>
                    <th width="70%">Students</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td>@course.CourseName</td>
                        <td>@(course.Students.Any() ? Html.Raw(course.Students.Select(s => $"{s.FirstName} {s.LastName}").CastOfSpans()) : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <h2>Access Denied</h2>
        <h4>you do not have permission to access the page</h4>
    </div>
}