@using KUSYS.Core.Models.Response;
@model List<StudentResponse>
@{
}

<h3>Student List</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.BirthDate</td>
                <td>
                    <button>A</button>
                    <button>B</button>
                    <button>C</button>
                </td>
            </tr>
        }
    </tbody>
</table>