@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - KUSYS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>More about <a href="https://github.com/AhmetAtasagun">me...</a>.</p>
</div>
